* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {
    font-size: calc(60% + 0.8vmin);
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #edf2f4;
}

header {
    background-color: #1d3557;
    display: flex;
    justify-content: space-between;
    flex: 2;
    align-items: center;
    padding: 1rem 0;
}

#headTextAndIcon {
    display: flex;
    margin-left: calc(5% + 2vw);
    align-items: center;
    gap: 1rem;
}

#headTextAndIcon>h1 {
    color: #edf2f4;
    font-size: 2.5rem;
}

header>button {
    height: 3rem;
    width: 6rem;
    margin-right: calc(5% + 2vw);
    border: none;
    border-radius: 2px;
    font-size: 1.2rem;
    background-color: #edf2f4;
}

header>button:hover {
    background-color: #b2bcca;
}

header>button:active {
    background-color: #8f9eb2;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 16;
    box-shadow: 0 5px 5px -5px #1d3557 inset;
}

#bookShelf {
    padding: 2rem 1rem;
}

#newBook {
    margin-top: 2rem;
    height: 4rem;
    width: 12rem;
    border: none;
    border-radius: 2px;
    background-color: #1d355767;
    font-size: 1.5rem;
    color: #000;
}

#newBook:hover {
    background-color: #1d3557;
    color: #edf2f4;
}

#newBook:active {
    background-color: #31496c;
}

.book {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;
    padding: 1rem;
    justify-content: space-between;
    width: 75vw;
}

#bookInfo {
    display: flex;
    flex: 7;
    font-size: 1.5rem;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
}

.pInfo {
    padding: 0.5rem;
}

#bookButtons {
    display: flex;
    gap: 1rem;
    flex: 3;
    flex-wrap: wrap;
    justify-content: end;
}

#bookButtons>button {
    border: none;
}

#readButton,
#removeButton {
    height: 2.5rem;
    width: 6rem;
    font-size: 1.2rem;
    border-radius: 2px;
}

#readButton {
    background-color: #1d3557;
    color: #edf2f4;
}

#removeButton {
    background-color: #8f9eb2;
}

#removeButton:hover {
    background-color: #1d3557;
    color: #edf2f4;
}

#removeButton:active {
    background-color: #31496c;
}

footer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

hr {
    border: 1px solid #1d355764;
}